[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "douban"

[dev-packages]

[packages]
flask = "*"
requests = "*"
googletrans = "*"
tool-yy = "*"

[requires]
python_version = "3.6"
